$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: #FAF9F9;

body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  
}

#search-bar {
  margin-bottom: 20px;
  padding: 20px 50px;
  background-color: black;
  position: sticky;
  top: 0px;
  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

#video-detail {
  width: 100%;
}

#video-section {
  margin: 50px;
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }
}